@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header{
  &__top{
    background-color: $sub-gray;
    margin-bottom: 25px;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
  }
  &__top-region{
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    column-gap: 6px;
    padding-right: 28px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      right: 0;
      background-image: url('../images/icons/arrow-down.svg');
    }
  }
  &__top-box{
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
  &__top-phone{
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding-left: 28px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 28px;
      top: 50%;
      transform: translateY(-50%);
      right: -16px;
      background-color: $gray;
    }
    &:hover{
      color: $peach;
      .header__phone-img{
        path{
          fill: $peach;
        }
      }
    }
  }
  &__phone-img{
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    path{
      transition: fill .2s ease-in-out;
    }
  }
  &__phone-text{
    @extend %opensans-600;
    font-size: 14px;
    line-height: 24px;
    padding: 3px 0;
    transition: color .2s ease-in-out;
  }
  &__top-profile{
    @extend %opensans-600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
    padding-right: 28px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      right: 0;
      background-image: url('../images/icons/arrow-down.svg');
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.04), 0px 0px 12px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    background-color: #fff;
  }
  &__bottom-wrapper{
    display: flex;
    align-items: center;
    padding: 6px 0 6px 6px;
  }
  &__logo{
    margin-right: 48px;
    padding: 20px 0 20px 22px;
  }
  &__bottom-box{
    display: flex;
    align-items: center;
    column-gap: 22px;
    padding: 14px 21px 14px 0;
  }
  &__box-selection{
    @extend %link-red;
    padding: 22px 78px;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item{
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin-right: 40px;
    }
  }
  &__list-link{
    @extend %opensans-600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 2px 0;
    transition: color .2s ease-in-out;
    &:hover{
      color: $peach;
    }
  }
}

.footer{
  &__wrapper{
    background-color: $white;
  }
  &__top{
    display: flex;
    padding: 109px 0 24px;
    border-bottom: 1px solid #E5E7EB;
  }
  &__descr{
    max-width: 384px;
    margin-right: 90px;
  }
  &__logo{
    display: inline-flex;
    padding: 20px 37px 20px 0;
  }
  &__socials-list{
    display: flex;
    margin-bottom: 24px;
  }
  &__socials-item:not(:last-child){
    margin-right: 25px;
  }
  &__descr-text{
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
  }
  &__top-items{
    display: flex;
  }
  &__top-item{
    &:not(:last-child){
      margin-right: 25px;
    }
  }
  &__item-title{
    @extend %opensans-600;
    color: #4B5663;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 21px;
  }
  &__item-list{
    display: flex;
    flex-direction: column;
  }
  &__item-item{
    display: flex;
    &:not(:last-child){
     margin-bottom: 16px;
    }
  }
  &__item-link{
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
  }
  &__bottom{
    padding: 10px 0 26px;
  }
  &__bottom-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  &__bottom-entrance{
    @extend %opensans-600;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
    padding: 8px 0;
    color: $peach;
  }
  &__bottom-registration{
    padding: 8px 16px;
    color: $peach;
    @extend %opensans-600;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid $peach;
    border-radius: 4px;
  }
  &__bottom-copy{
    color: #6B7280;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

.offer{
  &__inner{
    background-color: #fff;
    border-radius: 4px;
    filter: drop-shadow(0px 0px 104px rgba(41, 41, 41, 0.15));
    z-index: 100;
    padding: 70px 45px 60px;
    display: flex;
  }
  &__text{
    max-width: 493px;
    width: 100%;
    @extend %mont-700;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
    margin-right: 43px;
  }
  &__form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__form-label{
    max-width: 355px;
    width: 100%;
  }
  &__label-name{
    display: block;
    @extend %opensans-600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
  }
  &__label-input{
    width: 355px;
    padding: 11px 12px;
    background-color: #FCFCFD;
    border: 1px solid $gray;
    border-radius: 2px;
    outline: none;
    color: #313650;
    font-size: 14px;
    line-height: 20px;
  }
  &__form-btn{
    @extend %link-red;
    border: none;
    width: 243px;
    padding: 18px 0;
    cursor: pointer;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 206px;
      height: 60px;
      top: 0;
      left: 50%;
      transform: trans
    }
  }
}

@import "media";
